# Dependencies
node_modules/

# Production
dist/

# Environment Variables
.env
.env.local
.env.test

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
# We want to keep migrations, but ignore SQLite files if used
*.db
*.db-journal

# TS cache
*.tsbuildinfo

# OS Files
.DS_Store
Thumbs.db
